.logo {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}

/* Styles Jumbotron section */

body {
    background-image: linear-gradient(rgba(43, 227, 187, 0.3), rgba(83, 122, 111, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image {
    width: 80%;
}

.img-container {
    width: 50%;
    margin-right: 3%;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 80vw;
    margin: 0 auto;
    padding: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    position: relative;
}

.main-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

/* Styles the form */
.form-group label {
    font-weight: 600;
    font-size: 1.1rem;
}

.form {
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 1rem;
    width: 35%;
    height: 80%;
}

.form-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-style: italic;
}

.form-text a {
    text-decoration: none;
}

input::placeholder {
    font-size: 0.7rem;
    font-style: italic;
}

.form-cta button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(5, 5, 205);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}
.form-group label {
    font-size: 0.8rem;
}

/* media query */

@media (max-width:950px) {
    .form {
        padding: 0.8rem;
        width: 40%;
    }
    .form-cta button {
        font-size: 0.7rem;
    }
}

@media (max-width:750px) {
    .form {
        width: 90%;
        margin: 15% 6%;
    }

    .background-image {
       display: none;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
}
