body {
    background-image: linear-gradient(rgba(43, 227, 187, 0.3), rgba(83, 122, 111, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80vw;
    margin: 0 auto;
    background: #fff;
}

.logo {
    width: 10rem;
    margin: 20px 50px;
}

.main-section {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 0 auto;
}

.bg-img {
    width: 100%;
    height: 80%;
}

.img-container {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 40%;
    background-color: rgb(240, 240, 240);
    padding: 3rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
}

.form-input label {
    font-size: 1.2rem;
    font-weight: 600;
}

input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    width: 90%;
}

input::placeholder {
    font-size: 0.9rem;
    font-style: italic;
}

.form-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 95%;
}

.form-cta button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(5, 5, 205);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}